.App {
  text-align: center;
  color: rgb(75, 85, 99);
}

body {
  overflow: hidden;
  font-family: Inter, sans-serif;
  color: rgb(75, 85, 99);
}

.container__header,
.container__main {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.container__header {
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
}

.container__main {
  align-items: flex-start;
  margin-top: 50px;
  color: rgb(75, 85, 99);
}

.container__footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 16px;
  position: fixed;
  width: 100%;
  padding-top: 8px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  font-size: 0.9rem;
}

.container__main--catalogues {
  width: 25%;
  color: rgb(75, 85, 99);
}

.container__main--gameslist {
  height: 95vh;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  width: 50%;
}

.container__main--gameslist li img {
  padding-left: 8px;
}

.container__main--gameslist li:last-of-type {
  margin-bottom: 120px;
}

img {
  display: block;
}

.logo {
  height: 2.75rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  color: rgb(52, 59, 68);
}

img.thumb {
  width: 200px;
}

img.large {
  width: 400px;
}

.modal {
  position: absolute;
  top: 35%;
  left: 0;
  width: 20rem;
  z-index: 111;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(175, 175, 175);
  border-right: 8px solid red;
  border-radius: 0 8px 8px 0;
  color: red;
  margin: 0 auto;
}

.modal.add {
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(175, 175, 175);
  border-right: 8px solid green;
  border-radius: 0 8px 8px 0;
  color: green;
}

.badge {
  font-family: Inter, sans-serif;
  display: inline-block;
  background-color: #e5e7eb;
  color: rgb(75, 85, 99);
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 50px;
}

button.back {
  margin-top: 25px;
}

li .active {
  font-weight: 700;
  border-bottom: 2px solid rgb(75, 85, 99);
  padding-bottom: 4px;
}

li {
  margin-bottom: 24px;
}
